.navbar-custom {
    background-color: transparent;
    z-index: 1;
    color: #008000;
    border: 0;
    height: 80px;
    top: 10px;
}

@media (max-width: 500px) {
    .dropdown-menu{
        height:200px;
        overflow-y:auto;
    }
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.article-background {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url('/images/hambach_logo.png');
    width: 800px;
    z-index: -1;
}

.article-foreground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    color: green;
}

.news-image {
    opacity: 0.3;
    background: black;
}

.news-foreground {
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    color: white;
}

.navbar-custom .navbar-nav > li > a {
    color: #fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #008000;
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    background-color: #ffffff;
    color: #008000;
    font-weight: bold;
    top: 10px;
}

footer{
    background-color: white;
    padding:70px 0px;
}

footer ul li{
    padding:5px 0px;
}

.adress span , .contact span , .social span{
    color: #008000;
    font-weight: 800;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
}

.adress li p , .contact li a , .social li a{
    color #008000;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:15px;
}

.social li{
    float:left;
}

.adress , .contact , .social {
    list-style: none;
}

.fa{
    color: #008000;
    margin-right: 15px;
    font-size:14px;
}


body {
    background-color: #008000;
    background-image: url(/images/Sportplatz-Luft.jpg);
    background-attachment: fixed;
    color: #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin-bottom: 60px;
}

.rectangle {
    width: 800px;
    height: 450px;
    background: white;
    margin: auto;
    padding: 10px;
    margin-top: 40px;
}

.titleSize {
    font-size: x-large;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.images {
    width: 100%;
    height: 100%;
    border: 0;
}

.burger {
    position: relative;
    top: 0;
    z-index: 2;
    right: 2%;
    height: 60px;
    width: 60px;
}

.burger-span {
    vertical-align: middle;
    font-size: 30px;
}

.btn-pos {
    position: relative;
    bottom: 100%; /*your button position*/
    right: -25%; /*your button position*/
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #008000; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;

}

.sidenav button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    background-color: white;
    color: #008000;
}

.sidenav button:hover, .offcanvas button:focus {
    background-color: white;
    color: #008000;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: relative;
    top: 0;
    z-index: 10;
    right: 2%;
    font-size: 36px;
    margin-left: 50px;
}

.container-back {
    background-color: #ffffff;
    color: #008000;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
    padding: 20px;
}

html {
    position: relative;
    max-height: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.matches {
    text-align: center;
    color: #008000;
}

.team-img {
    max-width: 80%;
    height: auto;
}

.team-pos {
    background-color: #ffffff;
    color: #008000;
    font-weight: bold;
}

.clublogo {
    width: 100px;
}

.inline-show {
    display: inline-block;
}

.admin-button {
    background-color: #ffffff;
    color: #008000;
}

p {
    color: #008000;
}

.bfv-widgets {
    height: 800px;
}

.news {
    height: 400px;
    max-width: 800px;
}
